html {
	width: 100%;
	height: 100%;
}
body  {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #666;
	background-color: #222;
}
h1 {
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
	padding: 0;
}
.node {
	position: absolute;
	top: 0;
	left: 0;
	background: #ff0000;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	font-size: 0;
}
#load-indicator {
	display: block;
}

@box_width: 150px;
@box_height: 150px;

#bounds {
	width: @box_width;
	height: @box_height;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	margin: ( @box_height / 2 * -1 ) 0 0 ( @box_width / 2 * -1 );
	border: dashed 1px #555;
}
.rule_h {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 1px;
	border-top: dotted 1px #444;
	z-index: 1;
}
.rule_v {
	position: absolute;	
	top: 0;
	left: 50%;
	width: 1px;
	height: 100%;
	border-left: dotted 1px #444;
	z-index: 1;
}
.buttons {
	position: absolute;
	z-index: 2;
	top: ( @box_height + 100px );
}